<div class="container">
    <div class="row">
        <div class="col text-start">
            <p style="font-size: 20px ; color:rgb(105, 9, 82); padding: 0; text-align: left"> Bienvenida/o {{persona}}
        </div>
        <div class="col text-end">
            <a href="" class="btn btn-danger"><i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar Sesión</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h2 style="font-size:30px">Listado de Promociones</h2>
        </div>
        <div class="col-5 text-end ">
            <a href="/admin/promociones/agregar" class=" btn btn-success"> <i class="fa-solid fa-plus"></i>Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="   table-info">
                        <th scope="col">#</th>
                        <th scope="col">Combos</th>
                        <th scope="col">Servicios</th>
                        <th scope="col">Tarifas</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each promociones}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{combo}}</td>
                        <td>{{servicios}}</td>
                        <td>{{precio}}</td>
                        <td class="text-end">
                            <a href="" class="btn btn-primary" style="padding: 5px "><i class="fa-solid fa-pencil" style="font-size:20px"></i></a>
                            <a href="/admin/promociones/eliminar/{{id}}" class="btn btn-primary" style="padding: 5px "><i class="fa-solid fa-trash"style="font-size:20px"></i></a>

                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>